body{
   background-color: rgb(39, 39, 39);
   
}

a{
    text-decoration: none;
    color: white;
    background-color: darkslategrey;
    margin-left: 2vw;
    padding: 2vw;
    border-radius: 10%;
    box-shadow: 4px 4px 0 0 black;
    max-width: 10vw;
    height: auto;
    font-size: 1.5vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20%;
}
